body {
    font-family: 'Poppins', sans-serif;
    background: #0b0f19;
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px;
}

.logo {
    width: 60px;
    margin-bottom: 20px;
}

.card {
    background: #1a1f33;
    width: 320px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
}

.avatar {
    width: 120px;
    border-radius: 50%;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px auto;
}

button {
    background: #673ab7;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #8e63d2;
}

.value {
    width: 30px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
