body {
    font-family: 'Poppins', sans-serif;
    background: #0c0f27;
    color: #ffffff;
    text-align: center;
    padding: 25px;
}

/* Logo */
.logo {
    width: 65px;
    margin-bottom: 10px;
}

/* Buscador */
.search-box {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 220px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 10px 16px;
    border: none;
    background: #673ab7;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 8px;
    transition: 0.3s;
}

button:hover {
    background: #9575cd;
}

/* Resultados */
#resultList li {
    background: #22253d;
    padding: 10px;
    margin: 6px auto;
    width: fit-content;
    border-radius: 6px;
}
